h1 {
    color: green;
}
.div1 {
    display: inline-block;
    
}
.div2 {
    
    display: inline-block;
}
button {
    background-color: blue;
    color: whitesmoke;
    display: block;
}
#primeiroP{
    background-color: red;    
}
#segundoP{
color: whitesmoke;
background-color: darkgoldenrod;
display: inline;
}